header {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

header .logo {
    font-size: 30px;
    font-weight: bold;
}

header ul {
    display: flex;
    flex-flow: wrap row;
    align-items: center;
}

header ul li {
    padding: 0 10px;
    border-right: 1px solid #000;
}

header ul li:last-of-type {
    border: none;
}

header ul li a {
    font-size: 20px;
    text-decoration: none;
    color: #000;
}

header ul li a.active,header ul li a:hover {
    color: red;
    font-weight: bold;
}

